<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Ajout des permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Ajout des features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.sensor.light" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.projet.sluca.smallbrother.models.UserData"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <!-- Déclaration launcher activity -->
        <activity
            android:name=".activities.Launch1Activity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Déclaration d'Activities -->
        <activity
            android:name=".activities.QRCodeScannerInstallActivity"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.Launch2Activity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AidantActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AideActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.InstallActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.WorkActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.Work2Activity"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.QRCodeInstallActivity"
            android:exported="false"
            android:screenOrientation="locked">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SuccessScanActivity"
            android:exported="false"
            android:screenOrientation="locked"/>
        <!-- SmsReceiver -->
        <receiver
            android:name=".SmsReceiver"
            android:enabled="true"
            android:exported="true"
            > <!--android:permission="android.permission.BROADCAST_SMS"-->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>